/*
* ===========================================================================================
* Tailwind-CSS
* ===========================================================================================
*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/screens';


/*
* ===========================================================================================
* Fonts
* ===========================================================================================
*/
@import './fonts.css';


/*
* ===========================================================================================
* Packages
* ===========================================================================================
*/
/* @import 'font-awesome'; */
/* @import '~font-awesome'; */
/* @import './font-awesome.min.css'; */
@import './slick.min.css';
@import './slick-theme.css';
@import 'lity/dist/lity.min';
/* @import './magnific-popup.css'; */


/*
* ===========================================================================================
* Custom-CSS
* ===========================================================================================
*/
@import './container.css';
@import './style.css';
@import './responsive.css';
