/*
* ===========================================================================================
* Style-CSS
* ===========================================================================================
*/

/* body {
  font-family: 'Studio Sans DEMO', sans-serif !important;
} */

body, a { color: #332B22; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Liberation Serif', sans-serif;
  font-weight: bold;
}

a, i, span { display: inline-block; }
a:hover, ::before:hover, ::after:hover { transition: 0.3s; }

.color-base-1 { color: #332B22; }
.bg-base-1 { background-color: #332B22; }
.border-base-1 { border-color: #332B22; }
.rounded-tr-100 { border-top-right-radius: 100px; }
.rounded-bl-100 { border-bottom-left-radius: 100px; }
.text-3xl-important { font-size: 1.875rem !important;line-height: 2.25rem !important; }
.text-26 { font-size: 26px !important;line-height: 34px !important; }
.font-base-1 { font-family: 'Studio Sans DEMO', sans-serif; }

.mt-22 { margin-top: 5.5rem; }

.btn {
  @apply text-base border rounded py-2 px-5
}

.btn-sm {
  @apply text-sm leading-none border rounded py-0.5 px-1.5
}

.btn-gray {
  @apply bg-gray-800 text-white border-gray-800
}

.btn-secondary {
  @apply bg-gray-400 text-black border-gray-400
}

.btn-blue {
  @apply bg-blue-600 text-white border-blue-600
}
.btn-blue-light {
  @apply bg-blue-500 text-white border-blue-500
}
.btn-blue-deep {
  @apply bg-blue-700 text-white border-blue-700
}
.btn-navy {
  @apply bg-blue-900 text-white border-blue-900
}
.btn-navy-blue {
  @apply bg-blue-800 text-white border-blue-800
}

.btn-purple {
  @apply bg-purple-700 text-white border-purple-700
}
.btn-purple-light {
  @apply bg-purple-500 text-white border-purple-500
}
.btn-purple-deep {
  @apply bg-purple-900 text-white border-purple-900
}

.btn-indigo {
  @apply bg-indigo-700 text-white border-indigo-700
}
.btn-indigo-light {
  @apply bg-indigo-500 text-white border-indigo-500
}
.btn-indigo-deep {
  @apply bg-indigo-800 text-white border-indigo-800
}

.btn-red {
  @apply bg-red-600 text-white border-red-600
}
.btn-red-light {
  @apply bg-red-500 text-white border-red-500
}
.btn-red-deep {
  @apply bg-red-700 text-white border-red-700
}

.btn-green {
  @apply bg-green-600 text-white border-green-600
}
.btn-green-light {
  @apply bg-green-500 text-white border-green-500
}
.btn-green-deep {
  @apply bg-green-700 text-white border-green-700
}

.btn-base-1,
.btn-base-bg-1:not(.not-hover):hover {
  @apply bg-transparent color-base-1 text-xl border-2 border-initial rounded-xl py-2 px-5
}

.btn-base-bg-1,
.btn-base-1:not(.not-hover):hover {
  @apply bg-base-1 text-white text-xl border-2 border-base-1 rounded-xl py-2 px-5
}

.section-title {
  @apply text-4xl font-bold text-center capitalize mb-14
}

.full-width-btn {
  @apply block w-full bg-base-1 text-white text-base text-center py-3 px-4 rounded-lg
}

.shadow {
  box-shadow: 0px 0px 12px -5px #666666;
}

.border-initial {
  border-color: initial;
}

.color-inherit {
  color: inherit
}

.alert-dismissible {
  @apply relative font-medium text-lg text-center leading-none py-5 mb-5 cursor-pointer
}
.alert-dismissible.error {
  @apply bg-red-200 text-red-900
}
.alert-dismissible.success {
  @apply bg-green-200 text-green-900
}

.btn-close {
  @apply absolute w-9 h-9 top-3 right-3 color-inherit text-2xl -mt-px border-2 border-solid border-initial rounded cursor-pointer z-50
}

.alert-validation {
  @apply text-red-600 text-sm font-bold pt-1
}

label.required > span {
  @apply relative
}
label.required > span:before {
  @apply absolute text-red-600 font-serif text-lg font-bold -right-3 -top-1
}
label.required > span:before {
  content: "*";
}

.input-label,
.input-label-full {
  @apply text-sm font-bold cursor-pointer
}

.input-field,
.input-field-full,
.select-field,
.select-field-full,
.text-field,
.text-field-full {
  @apply h-9 text-base leading-tight border border-gray-400 py-1.5 px-3 rounded
}
.input-label-full,
.input-field-full,
.select-field-full,
.text-field-full {
  @apply w-full block
}

.is-invalid {
  border: 1px solid #DC3545 !important;
}

select,
input[type="file"] {
  @apply cursor-pointer
}

select {
  min-width: 150px;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400 opacity-100
}

textarea.text-field,
textarea.text-field-full {
  @apply h-auto
}

input.required:focus,
input.is-invalid:focus,
select.required:focus,
select.is-invalid:focus,
textarea.required:focus,
textarea.is-invalid:focus {
  border-color: #DC3545 !important;
  box-shadow: 0 0 0 1px #DC3545 !important;
  outline: 2px solid transparent !important;
}

.bg-img {
  @apply bg-cover bg-center bg-gray-300 border border-gray-400 rounded
}

.bg-overlay {
  @apply absolute left-0 top-0 w-full h-full bg-gray-800 transition opacity-0 z-20
}


#property-searchForm select option { font-size: 16px !important;padding-left: 20px; }

.sidebar-search-form form div {
  display: block;
  width: 100%;
}
.sidebar-search-form form select,
.sidebar-search-form form input {
  min-width: 100%;
  background-color: #e9e9e9;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 8px 15px;
  border-radius: 5px;
}
.sidebar-search-form form label {
  display: block;
}
.sidebar-search-form form .border-r-2 {
  border: 0;
}
.sidebar-search-form form div.flex-1.pl-3 {
  padding-right: 12px;
}
.sidebar-search-form form .text-right {
  text-align: center;
}
.sidebar-search-form form .pl-6 {
  padding-left: 12px;
}
.sidebar-search-form form input {
  margin: 10px 0 30px 12px;
}
.sidebar-search-form form button {
  width: 100%;
  margin-left: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.sidebar-search-form form button:hover {
  border-radius: 5px !important;
}



/* Single Property */

.inputLabel {
  @apply block text-base mb-1;
}

.inputField {
  @apply px-3 py-3 w-full border-0 focus:outline-none text-sm;
}

input:focus {
  --tw-ring-color: none;
}

#description p {
  margin-bottom: 15px;
}



/* Slick Controll */
.single-item {
  background-size: cover;
  background-position: center;
  height: 450px;
}

.thumbSlider {
  height: 80px;
  margin-top: 15px;
}

.thumbSlider .single-item {
  height: 80px;
  opacity: 0.5;
  cursor: pointer;
}

.thumbSlider .single-item.slick-current {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  left: 12px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  background: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
}

.slick-arrow:hover{
  opacity: 1;
}

.slick-next.slick-arrow {
  left: auto;
  right: 12px;
}



/* Property-Add-Edit-Form */

.property-form .bg-img:hover .bg-overlay {
  @apply opacity-50 visible
}
.property-form .bg-img:hover a {
  @apply opacity-100 visible
}



/* Footer-Area */

.footer-link {
  @apply block leading-10 text-lg
}

