/*
* ===========================================================================================
* Style-CSS
* ===========================================================================================
*/

/* body {
  font-family: 'Studio Sans DEMO', sans-serif !important;
} */

body, a { color: #332B22; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Liberation Serif', sans-serif;
  font-weight: bold;
}

a, i, span { display: inline-block; }
a:hover, ::before:hover, ::after:hover { transition: 0.3s; }

.color-base-1 { color: #332B22; }
.bg-base-1 { background-color: #332B22; }
.border-base-1 { border-color: #332B22; }
.rounded-tr-100 { border-top-right-radius: 100px; }
.rounded-bl-100 { border-bottom-left-radius: 100px; }
.text-3xl-important { font-size: 1.875rem !important;line-height: 2.25rem !important; }
.text-26 { font-size: 26px !important;line-height: 34px !important; }
.font-base-1 { font-family: 'Studio Sans DEMO', sans-serif; }

.mt-22 { margin-top: 5.5rem; }

.btn-base-1,
.btn-base-bg-1:not(.not-hover):hover {
  @apply bg-transparent color-base-1 text-xl border-2 border-initial rounded-xl py-2 px-5
}

.btn-base-bg-1,
.btn-base-1:not(.not-hover):hover {
  @apply bg-base-1 text-white text-xl border-2 border-base-1 rounded-xl py-2 px-5
}

.section-title {
  @apply text-4xl font-bold text-center capitalize mb-14
}

.full-width-btn {
  @apply block w-full bg-base-1 text-white text-base text-center py-3 px-4 rounded-lg
}

.shadow {
  box-shadow: 0px 0px 12px -5px #666666;
}

.border-initial {
  border-color: initial;
}


#property-searchForm select option { font-size: 16px !important;padding-left: 20px; }

.sidebar-search-form form div {
  display: block;
  width: 100%;
}
.sidebar-search-form form select,
.sidebar-search-form form input {
  min-width: 100%;
  background-color: #e9e9e9;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 8px 15px;
  border-radius: 5px;
}
.sidebar-search-form form label {
  display: block;
}
.sidebar-search-form form .border-r-2 {
  border: 0;
}
.sidebar-search-form form div.flex-1.pl-3 {
  padding-right: 12px;
}
.sidebar-search-form form .text-right {
  text-align: center;
}
.sidebar-search-form form .pl-6 {
  padding-left: 12px;
}
.sidebar-search-form form input {
  margin: 10px 0 30px 12px;
}
.sidebar-search-form form button {
  width: 100%;
  margin-left: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.sidebar-search-form form button:hover {
  border-radius: 5px !important;
}



/* Single Property */

.inputLabel {
  @apply block text-base mb-1;
}

.inputField {
  @apply px-3 py-3 w-full border-0 focus:outline-none text-sm;
}

input:focus {
  --tw-ring-color: none;
}

#description p {
  margin-bottom: 15px;
}



/* Slick Controll */
.single-item {
  background-size: cover;
  background-position: center;
  height: 450px;
}

.thumbSlider {
  height: 80px;
  margin-top: 15px;
}

.thumbSlider .single-item {
  height: 80px;
  opacity: 0.5;
  cursor: pointer;
}

.thumbSlider .single-item.slick-current {
  opacity: 1;
}

.slick-arrow {
  position: absolute;
  left: 12px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  background: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.5;
}

.slick-arrow:hover{
  opacity: 1;
}

.slick-next.slick-arrow {
  left: auto;
  right: 12px;
}



/* Footer-Area */

.footer-link {
  @apply block leading-10 text-lg
}

